body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#o
{
    font-size: 30px;
    font-weight: bold;
    color:blue;
}
#main
{
    box-shadow: 0 4px 8px rgb(43, 43, 43);
    padding: 10px 40px;
    border-radius: 25px;
    gap:12px;
}
.btn
{
    width: 100px;
    margin:10px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: aqua;
    color: black;
    padding: 10px 18px;
    font-weight: bold;
    transition: transform 1s, box-shadow 0.2s;
}
.btn:hover{
    background-color: orange;
    color: black;
    transform: scale(1.1);;
}
#T
{
   box-shadow: 0 2px 4px rgb(43, 43, 43);
    padding: 10px 40px;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}